.main{
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 900px;
}

.tableBtn, .modalBtn,.modalBtn1, .buttonHeader{
    background-color: #3d108b;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    max-height: 40px;
    transition: all 0.2s linear;
    
}

.buttonHeader:hover, .tableBtn:hover, .modalBtn1:hover{
    background-color: #08155b;
    
}

.modalBtn{
    background-color: rgb(188, 44, 44);
}

.modalBtn:hover{
    background-color: rgb(143, 10, 10);
}

.fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-bottom: 15px;
}

.modalInput{
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    padding: 10px;
}

.modalBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.modalLabel{
    width: 60%;

}