.header{
    width: 100vw;
    display: flex;
    justify-content: center;
}



.container{
    max-width: 800px;
    width: 100%;
    padding: 10px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 700;
}

.nav_logo img{
    object-fit: cover;
    display: block;
    width: 50px;

}

.nav_links{
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link{
    color: #000000;
    text-decoration: none;
    /* padding: 10px; */
}

.nav_link:hover{
    color: #FF0000;
}

.nav_btn{
    background-color: #3d108b;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

.nav_btn:hover{
    background-color: #08155b;
    
}