h2,p {
    margin: 0;
}

@font-face {
    font-family: 'GothoPro';
    src: url('./assets/gothampro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothoPro';
    src: url('./assets/gothampro_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'GothoPro', sans-serif;
    font-weight: 400;
  }
  
  